@media (max-width: 900px) {
  .btnPreviewAction.MuiButton-root {
    width: 100%;
    max-width: 200px;
  }
}

.btnPreviewAction.MuiButton-root {
  margin: auto;
}

.imgInfo {
  margin-top: 20px;
  width: 100%;
}

.includingInfoContainer {
  display: flex;
  margin: 20px auto;
  max-width: 500px;
  width: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.infoContainer {
  width: 100%;
  display: flex;
}

.infoImg {
  display: flex;
  max-width: 400px;
}

.infoInput {
  margin-top: 10px;
  width: 100%;
}

.moneyIcon {
  color: green;
}

.pictureImgPreview {
  width: 160px;
  height: 160px;
  margin: auto;
}

.valueContainer {
  margin-top: 10px !important;
}