@page {
  margin-top: 12px;
}

@media print {
  img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }
}

#contentToPrint {
  display: block;
  margin: 20px auto;
  padding-left: 5px;
  padding-right: 5px;
  overflow: visible !important;
  min-height: 100vh;
  width: 210mm;
}

#contentToPrint::before {
  margin-top: auto;
}

#contentToPrint::after {
  margin-bottom: auto;
}

.noContentInBox {
  font-size: 0;
  padding-bottom: 0px !important;
}

.pictureContainer {
  border: 2px solid black;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 160px;
}

.pictureImg {
  width: 100%;
  /* object-fit: cover; */
  height: 160px;
}

.templateContainer {
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.valuesContainer {
  font-size: 13px;
  padding-left: 10px;
}